# Postgres Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=esgdb

# Pass your OpenAI key into the container
OPENAI_API_KEY=sk-proj-your-actual-key-goes-here

# Next.js Build Arg
NEXT_PUBLIC_API_URL=http://localhost:8000